#flag-container{
    display: grid;
    grid-template-columns: 200px 200px;
    grid-template-rows: 150px 150px; 
    column-gap: 10px;
    row-gap: 15px;
    width: 400;
    height: 400px;
}

.flagimg{
    width: 200px;
    height: 150px;
}

*{
    background-color: rgb(170, 170, 170);
}